.home {
  text-align: center;
}


h1 {
  margin: 20px;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  margin: 30px;
  background-color: #555555;
}

.how-it-works {
  display: flex;
  margin: 40px;
}

.how-it-works h2 {
  margin: 10px;
}

.how-it-works div {
  margin: 15px;
  background: silver;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.our-technician {
  margin: 10px 40px 60px 40px;
}


.two-image {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

footer {
  display: flex;
  width: 100%;
  background: black;
}
.first {
  width: 33.3%;
  padding: 30px;
  color: white;
}
.second {
  width: 33.3%;
  margin-top: 30px;
  color: white;
}
.third {
  width: 33.3%;
  color: white;
  padding: 30px;
}
